<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="VSCore.Properties.Settings.VSConfigConnectionString" connectionString="Data Source=QAalias_VinManager.vin.priv;Initial Catalog=VSConfig;User ID=dealertek;Password=car69sender" providerName="System.Data.SqlClient" />  
</connectionStrings>