body {
    background-color: #efefef;
    /*font-family: 'Montserrat', sans-serif;*/
}
* {
  border-radius: 0 !important;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.operator-div {
    border-width: 2px; 
}

#panel {
    color:#fff;
    background:#000;
}

#righticons .glyphicon {
    margin-left:10px;
}

.filterfields {
    margin-right:20px;
    width:calc(50% - 20px);
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

div.shadow {
	padding: 10px 0px 10px;
    font-size:9pt;
    font-weight: normal;
    border-left: 5px solid transparent;
    margin: 3px 0px;
}

div.shadow:hover {
    background: rgb(212,224,248);
    border-left: 5px solid transparent;
}

.selected {
    background: rgb(212,224,248);
    border-left: 5px solid #3366CC !important;
}

.selectedHint{
    background: rgb(191, 198, 247);
    border: 2px;
    width: 1px;
    border: 1px;
    height: 100%;
    padding: 5px;
}

.iconStyle {
    position: top;
    width: 40px;
    border: 1px;
}

#rightPanel {
   padding-left:40px;
}


#leftPanel {
    height: 1670px;
overflow-y: scroll;
}

.contentFit {
    margin: 0px;
    padding: 0px;
}

.overlay {
    padding: 7px 0px;
}

.drop-shadow {
    background: white;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}
   
.container.drop-shadow {
        padding-left:0;
        padding-right:0;
}

#Pie {
    margin-bottom: 20px;
}

#infoPanel , #AgentStatInfoPanel , #BellInfoPanel{
    margin-bottom: 20px;
    padding: 20px;
    color: #333;
}

#BellCurve > hr {
    margin: 0px;
}
#BellCurve > h4 {
color: #777;
margin: 0px;
padding: 20px 20px;
}

#AgentStatInfoPanel > hr {
    margin-bottom: 0px;
}
#AgentStatInfoPanel > h4 {
color: #777;
margin: 0px;
}

.entryItems > div:not(:last-child) {
margin-bottom: 10px;
}

.entryItems .entryValue {
    font-weight: 400;
    color: #333;
}

#blockquoteId {
    margin: 0px;
}

#blockquoteId p {
    margin: 0px;
}

#blockquoteId > div {
    margin-top: 10px;
}

#blockquoteId > h4 {
    margin: 0px;
}

#blockquoteId p > span {
    font-size: 15px;
    color: #333;
}
#blockquoteId .status {
    font-size: 13px;
    color: #777;
}#blockquoteId .status.busy strong {
    color: red;
}
#blockquoteId .status.active strong {  
    color:#3EDF80;
}

#blockquoteId p > span:last-child {
    padding-left: 5px;
}
#midInfo {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lastInfo {
    text-align: right;
    padding: 0px 20px 0px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

#BarChart{
    margin-bottom: 30px;
}

#PieChart {
    padding: 0px;
}

.customerInfo {
    padding: 20px 0px 20px 20px;
    height: 180px;
}

.table {
     margin-bottom: 0px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
#CustomerInfoPanel {
    margin-bottom: 20px;
}